.header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnomVa7MmFSorddV5LJN2e7C4KrRFopQO_FyoeNXebo9BZYZRFF4Bjk2bRxz0RKqfMa8M&usqp=CAU);
    line-height: 50px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
