img{
    width: 200px;
    height: 200px;
}
.mens-details{
   background-color: lemonchiffon;

}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
